:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark: hsl(0, 0%, 25%);
  --color-primary: hsl(39, 100%, 53%);
  --color-primary-light: hsl(39, 84%, 71%);
  --color-primary-dark: hsl(39, 58%, 45%);
  --transition: all 0.3s ease;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
}

// Base Styles

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pagination-container {
  max-width: 20rem;
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      padding: 1rem 2rem;
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
  .searchPage-container {
    .page-input {
      width: 100%;
    }
  }
}
